<?xml version="1.0"?>

<configuration>

	<configSections>
		<section name="Nova" type="Nova.Configuration, Nova.CodeDOM" />
		<section name="Codedom" type="CodedomService.Configuration, CodedomService" />

	</configSections>
	<Codedom>
		<InjectionConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance" z:Id="1"
								xmlns:z="http://schemas.microsoft.com/2003/10/Serialization/"
								xmlns="http://schemas.datacontract.org/2004/07/InjectionService.CodeDomFactories.PropertyExpressionFactory">
			<ContractInjectionDescription z:Id="2" z:Size="1">
				<ContractInjectionDescription z:Id="3">
					<codeMemberConstructors xmlns:d4p1="http://schemas.datacontract.org/2004/07/System.CodeDom" z:Id="4" z:Size="0" />
					<codeMemberFields xmlns:d4p1="http://schemas.datacontract.org/2004/07/System.CodeDom" z:Id="5" z:Size="1">
						<d4p1:CodeTypeMember z:Id="6" i:type="d4p1:CodeMemberEvent">
							<d4p1:userData xmlns:d6p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
							<d4p1:attributes>24576</d4p1:attributes>
							<d4p1:comments xmlns:d6p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" z:Id="7" z:Size="0" />
							<d4p1:customAttributes xmlns:d6p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
							<d4p1:endDirectives xmlns:d6p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
							<d4p1:linePragma i:nil="true" />
							<d4p1:name z:Id="8">PropertyChanged</d4p1:name>
							<d4p1:startDirectives xmlns:d6p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
							<d4p1:implementationTypes xmlns:d6p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
							<d4p1:privateImplements i:nil="true" />
							<d4p1:type z:Id="9">
								<d4p1:userData xmlns:d7p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
								<d4p1:arrayElementType i:nil="true" />
								<d4p1:arrayRank>0</d4p1:arrayRank>
								<d4p1:baseType z:Id="10">System.ComponentModel.PropertyChangedEventHandler</d4p1:baseType>
								<d4p1:isInterface>false</d4p1:isInterface>
								<d4p1:needsFixup>true</d4p1:needsFixup>
								<d4p1:referenceOptions />
								<d4p1:typeArguments xmlns:d7p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
							</d4p1:type>
						</d4p1:CodeTypeMember>
					</codeMemberFields>
					<codeMemberMethods xmlns:d4p1="http://schemas.datacontract.org/2004/07/System.CodeDom" z:Id="11" z:Size="1">
						<d4p1:CodeTypeMember z:Id="12" i:type="d4p1:CodeMemberMethod">
							<d4p1:userData xmlns:d6p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
							<d4p1:attributes>12288</d4p1:attributes>
							<d4p1:comments xmlns:d6p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" z:Id="13" z:Size="0" />
							<d4p1:customAttributes xmlns:d6p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
							<d4p1:endDirectives xmlns:d6p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
							<d4p1:linePragma i:nil="true" />
							<d4p1:name z:Id="14">OnPropertyChanged</d4p1:name>
							<d4p1:startDirectives xmlns:d6p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
							<d4p1:PopulateImplementationTypes xmlns:d6p1="http://schemas.datacontract.org/2004/07/System" i:nil="true" />
							<d4p1:PopulateParameters xmlns:d6p1="http://schemas.datacontract.org/2004/07/System" i:nil="true" />
							<d4p1:PopulateStatements xmlns:d6p1="http://schemas.datacontract.org/2004/07/System" i:nil="true" />
							<d4p1:implementationTypes xmlns:d6p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
							<d4p1:parameters xmlns:d6p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" z:Id="15" z:Size="1">
								<d6p1:anyType z:Id="16" i:type="d4p1:CodeParameterDeclarationExpression">
									<d4p1:userData i:nil="true" />
									<d4p1:customAttributes i:nil="true" />
									<d4p1:dir>In</d4p1:dir>
									<d4p1:name z:Id="17">propertychangedarg</d4p1:name>
									<d4p1:type z:Id="18">
										<d4p1:userData i:nil="true" />
										<d4p1:arrayElementType i:nil="true" />
										<d4p1:arrayRank>0</d4p1:arrayRank>
										<d4p1:baseType z:Id="19">System.String</d4p1:baseType>
										<d4p1:isInterface>false</d4p1:isInterface>
										<d4p1:needsFixup>true</d4p1:needsFixup>
										<d4p1:referenceOptions />
										<d4p1:typeArguments i:nil="true" />
									</d4p1:type>
								</d6p1:anyType>
							</d4p1:parameters>
							<d4p1:populated>3</d4p1:populated>
							<d4p1:privateImplements i:nil="true" />
							<d4p1:returnAttributes xmlns:d6p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
							<d4p1:returnType z:Id="20">
								<d4p1:userData xmlns:d7p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
								<d4p1:arrayElementType i:nil="true" />
								<d4p1:arrayRank>0</d4p1:arrayRank>
								<d4p1:baseType z:Id="21">System.Void</d4p1:baseType>
								<d4p1:isInterface>false</d4p1:isInterface>
								<d4p1:needsFixup>true</d4p1:needsFixup>
								<d4p1:referenceOptions />
								<d4p1:typeArguments xmlns:d7p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
							</d4p1:returnType>
							<d4p1:statements xmlns:d6p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" z:Id="22" z:Size="1">
								<d6p1:anyType z:Id="23" i:type="d4p1:CodeConditionStatement">
									<d4p1:userData i:nil="true" />
									<d4p1:endDirectives i:nil="true" />
									<d4p1:linePragma i:nil="true" />
									<d4p1:startDirectives i:nil="true" />
									<d4p1:condition z:Id="24" i:type="d4p1:CodeBinaryOperatorExpression">
										<d4p1:userData i:nil="true" />
										<d4p1:left z:Id="25" i:type="d4p1:CodePrimitiveExpression">
											<d4p1:userData i:nil="true" />
											<d4p1:value i:nil="true" />
										</d4p1:left>
										<d4p1:op>IdentityInequality</d4p1:op>
										<d4p1:right z:Id="26" i:type="d4p1:CodeFieldReferenceExpression">
											<d4p1:userData i:nil="true" />
											<d4p1:fieldName z:Ref="8" i:nil="true" />
											<d4p1:targetObject z:Id="27" i:type="d4p1:CodeThisReferenceExpression">
												<d4p1:userData i:nil="true" />
											</d4p1:targetObject>
										</d4p1:right>
									</d4p1:condition>
									<d4p1:falseStatments z:Id="28" z:Size="0" />
									<d4p1:trueStatments z:Id="29" z:Size="1">
										<d6p1:anyType z:Id="30" i:type="d4p1:CodeExpressionStatement">
											<d4p1:userData i:nil="true" />
											<d4p1:endDirectives i:nil="true" />
											<d4p1:linePragma i:nil="true" />
											<d4p1:startDirectives i:nil="true" />
											<d4p1:expression z:Id="31" i:type="d4p1:CodeMethodInvokeExpression">
												<d4p1:userData i:nil="true" />
												<d4p1:method z:Id="32">
													<d4p1:userData i:nil="true" />
													<d4p1:methodName z:Ref="8" i:nil="true" />
													<d4p1:targetObject z:Ref="27" i:nil="true" />
													<d4p1:typeArguments i:nil="true" />
												</d4p1:method>
												<d4p1:parameters z:Id="33" z:Size="2">
													<d6p1:anyType z:Ref="27" i:nil="true" />
													<d6p1:anyType z:Id="34" i:type="d4p1:CodeObjectCreateExpression">
														<d4p1:userData i:nil="true" />
														<d4p1:createType z:Id="35">
															<d4p1:userData i:nil="true" />
															<d4p1:arrayElementType i:nil="true" />
															<d4p1:arrayRank>0</d4p1:arrayRank>
															<d4p1:baseType z:Id="36">System.ComponentModel.PropertyChangedEventArgs</d4p1:baseType>
															<d4p1:isInterface>false</d4p1:isInterface>
															<d4p1:needsFixup>true</d4p1:needsFixup>
															<d4p1:referenceOptions />
															<d4p1:typeArguments i:nil="true" />
														</d4p1:createType>
														<d4p1:parameters z:Id="37" z:Size="1">
															<d6p1:anyType z:Id="38" i:type="d4p1:CodeVariableReferenceExpression">
																<d4p1:userData i:nil="true" />
																<d4p1:variableName z:Ref="17" i:nil="true" />
															</d6p1:anyType>
														</d4p1:parameters>
													</d6p1:anyType>
												</d4p1:parameters>
											</d4p1:expression>
										</d6p1:anyType>
									</d4p1:trueStatments>
								</d6p1:anyType>
							</d4p1:statements>
							<d4p1:typeParameters xmlns:d6p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
						</d4p1:CodeTypeMember>
					</codeMemberMethods>
					<codeMemberProperties xmlns:d4p1="http://schemas.datacontract.org/2004/07/System.CodeDom" z:Id="39" z:Size="0" />
					<implementedTypes xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" z:Id="40" z:Size="1">
						<d4p1:string z:Id="41">CodeDomeServiceTest.AutoNotifyTests.AutoNotifyMocks.ModelSamplePoco</d4p1:string>
					</implementedTypes>
					<interfaceTypes xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" z:Id="42" z:Size="1">
						<d4p1:string z:Id="43">System.ComponentModel.INotifyPropertyChanged</d4p1:string>
					</interfaceTypes>
					<isActive>true</isActive>
					<propertyGetAcsessorContractInjectionDescription z:Id="44">
						<afterCodeStatements xmlns:d5p1="http://schemas.datacontract.org/2004/07/System.CodeDom" z:Id="45" z:Size="0" />
						<beforeCodeStatements xmlns:d5p1="http://schemas.datacontract.org/2004/07/System.CodeDom" z:Id="46" z:Size="0" />
					</propertyGetAcsessorContractInjectionDescription>
					<propertySetAcsessorContractInjectionDescription z:Id="47">
						<afterCodeStatements xmlns:d5p1="http://schemas.datacontract.org/2004/07/System.CodeDom" z:Id="48" z:Size="1">
							<d5p1:CodeStatement z:Id="49" i:type="d5p1:CodeExpressionStatement">
								<d5p1:userData xmlns:d7p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
								<d5p1:endDirectives xmlns:d7p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
								<d5p1:linePragma i:nil="true" />
								<d5p1:startDirectives xmlns:d7p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
								<d5p1:expression z:Id="50" i:type="d5p1:CodeMethodInvokeExpression">
									<d5p1:userData xmlns:d8p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
									<d5p1:method z:Id="51">
										<d5p1:userData xmlns:d9p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
										<d5p1:methodName z:Id="52">OnPropertyChanged</d5p1:methodName>
										<d5p1:targetObject z:Id="53" i:type="d5p1:CodeThisReferenceExpression">
											<d5p1:userData xmlns:d10p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
										</d5p1:targetObject>
										<d5p1:typeArguments xmlns:d9p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
									</d5p1:method>
									<d5p1:parameters xmlns:d8p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" z:Id="54" z:Size="1">
										<d8p1:anyType z:Id="55" i:type="d5p1:CodeMethodInvokeExpression">
											<d5p1:userData i:nil="true" />
											<d5p1:method z:Id="56">
												<d5p1:userData i:nil="true" />
												<d5p1:methodName z:Id="57">System.Reflection.MethodBase.GetCurrentMethod().Name.Substring</d5p1:methodName>
												<d5p1:targetObject i:nil="true" />
												<d5p1:typeArguments i:nil="true" />
											</d5p1:method>
											<d5p1:parameters z:Id="58" z:Size="1">
												<d8p1:anyType z:Id="59" i:type="d5p1:CodePrimitiveExpression">
													<d5p1:userData i:nil="true" />
													<d5p1:value z:Id="60" xmlns:d12p1="http://www.w3.org/2001/XMLSchema" i:type="d12p1:int">3</d5p1:value>
												</d8p1:anyType>
											</d5p1:parameters>
										</d8p1:anyType>
									</d5p1:parameters>
								</d5p1:expression>
							</d5p1:CodeStatement>
						</afterCodeStatements>
						<beforeCodeStatements xmlns:d5p1="http://schemas.datacontract.org/2004/07/System.CodeDom" z:Id="61" z:Size="0" />
					</propertySetAcsessorContractInjectionDescription>
				</ContractInjectionDescription>
			</ContractInjectionDescription>
		</InjectionConfiguration>
	</Codedom>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>

	<Nova>

		<!-- Determines the logging level: None, Minimal, Normal, Detailed.  DEFAULT: Minimal -->
		<!--<add key="Log.LogLevel" value="Normal"/>-->

		<!-- Determines if code changes are saved to a separate ".Nova.cs" file instead of the original.  DEFAULT: false -->
		<!--<add key="CodeDOM.CodeUnit.SaveChangesToSeparateFile" value="true"/>-->

		<!-- Determines if TODO and HACK comments are listed with other messages.  DEFAULT: true -->
		<!--<add key="CodeDOM.Comment.ListSpecialComments" value="false"/>-->

		<!-- The tab size used for indentation of code.  DEFAULT: 4 -->
		<!--<add key="CodeDOM.CodeObject.TabSize" value="4"/>-->

		<!-- Use tabs instead of spaces for indentation.  DEFAULT: false -->
		<!--<add key="CodeDOM.CodeObject.UseTabs" value="true"/>-->

		<!-- The maximum line length used for automatic formatting, such as code alignment and line wrapping.  DEFAULT: 128 -->
		<!--<add key="CodeDOM.CodeObject.MaximumLineLength" value="128"/>-->

	</Nova>
</configuration>