<?xml version="1.0"?>

<configuration>

	<configSections>
		<section name="Nova" type="Nova.Configuration, Nova.CodeDOM" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>

	<Nova>

		<!-- Determines the logging level: None, Minimal, Normal, Detailed.  DEFAULT: Minimal -->
		<!--<add key="Log.LogLevel" value="Normal"/>-->

		<!-- Determines if code changes are saved to a separate ".Nova.cs" file instead of the original.  DEFAULT: false -->
		<!--<add key="CodeDOM.CodeUnit.SaveChangesToSeparateFile" value="true"/>-->

		<!-- Determines if TODO and HACK comments are listed with other messages.  DEFAULT: true -->
		<!--<add key="CodeDOM.Comment.ListSpecialComments" value="false"/>-->

		<!-- The tab size used for indentation of code.  DEFAULT: 4 -->
		<!--<add key="CodeDOM.CodeObject.TabSize" value="4"/>-->

		<!-- Use tabs instead of spaces for indentation.  DEFAULT: false -->
		<!--<add key="CodeDOM.CodeObject.UseTabs" value="true"/>-->

		<!-- The maximum line length used for automatic formatting, such as code alignment and line wrapping.  DEFAULT: 128 -->
		<!--<add key="CodeDOM.CodeObject.MaximumLineLength" value="128"/>-->

	</Nova>

</configuration>